<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>702333864570-rv9h3fegp1dj1ko935blu10e2k77072u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702333864570-rv9h3fegp1dj1ko935blu10e2k77072u</string>
	<key>API_KEY</key>
	<string>AIzaSyAUX3vn7kaGL9EnUu3duZ3gAY6662D-sdw</string>
	<key>GCM_SENDER_ID</key>
	<string>702333864570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RN.Social-App</string>
	<key>PROJECT_ID</key>
	<string>social-app-6ca37</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-6ca37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702333864570:ios:69d043fd0e5fd2ec</string>
	<key>DATABASE_URL</key>
	<string>https://social-app-6ca37.firebaseio.com</string>
</dict>
</plist>